label{
	min-width: 250px;
}
#frm{
	width: 500px;
	margin: 0 auto;
	font-size: 20px;
}
input{
	height: 45px;
}
button{
	margin-left: 190px;
}
.inp_lab{
	min-width: 500px;
	margin: 0 auto;
}
p{
	color: red;
}
.email input{
	margin-left: 57px;
	width: 300px;
}
.name input{
	margin-left: 71px;
	width: 300px;
}
.age select{
	margin-left: 86px;
	width: 300px;
	height: 50px;
}
.gender input{
	margin-left: 62px;
}
.phn input{
	width: 300px;
}